# Restrict all files related to deploying to
# require lead maintainer approval.

.github/workflows/          @Ousret
.github/CODEOWNERS          @Ousret
src/urllib3/_version.py     @Ousret
pyproject.toml              @Ousret
ci/                         @Ousret
