[run]
source =
    urllib3
# Needed for Python 3.11 and lower
disable_warnings = no-sysmon
parallel = True
branch = True

[paths]
source =
    src/urllib3
    */urllib3
    *\urllib3

[report]
omit =
    src/urllib3/contrib/pyopenssl.py
    src/urllib3/contrib/emscripten/*
    src/urllib3/http2/*
    src/urllib3/contrib/_socks_legacy.py

exclude_lines =
    except ModuleNotFoundError:
    except ImportError:
    pass
    import
    raise NotImplementedError
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Abstract
    .* # Defensive:
    if (?:typing.)?TYPE_CHECKING:
    ^\s*?\.\.\.\s*$
