mypy==1.13.0; python_version >= '3.8'
mypy==1.4.1; python_version < '3.8'
idna>=2.0.0
cryptography<47
tornado>=6.1
pytest>=6.2
trustme==0.9.0
types-backports
nox
qh3>=1.4.0,<2.0.0
h11>=0.11.0,<1.0.0
jh2>=5.0.0,<6.0.0
python_socks>=2.0,<3.0
wsproto>=1.2,<2
aiofile>=3.9.0,<4
zstandard>=0.18.0
