name: CI for EOL 3rd parties

on:
  push:
    branches:
      - main
  pull_request:

permissions: "read-all"

concurrency:
  group: ci-dead-things-${{ github.ref_name }}
  cancel-in-progress: true

jobs:

  dead-libressl:
    name: Ensure LibreSSL <2.8
    runs-on: ubuntu-latest
    timeout-minutes: 25
    continue-on-error: true

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@d632683dd7b4114ad314bca15554477dd762a938"

      - name: "Run against Python 3.7 built with LibreSSL 2.7.4"
        run: ./ci/run_legacy_libressl.sh

  dead-openssl:
    name: Ensure OpenSSL <1.1.1
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@d632683dd7b4114ad314bca15554477dd762a938"

      - name: "Run against Python 3.7 built with OpenSSL 1.0.2q"
        run: ./ci/run_legacy_openssl.sh

  dead-pip:
    name: Ensure pip <21.2.4
    runs-on: ubuntu-20.04
    timeout-minutes: 5

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@d632683dd7b4114ad314bca15554477dd762a938"

      - name: "Setup Python"
        uses: "actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b"
        with:
          python-version: "3.7"

      - name: "Enforce pip 20.x"
        run: python -m pip install "pip<21"

      - name: "Ensure that urllib3-future can be installed"
        run: python -m pip install .
