name: CI for EOL 3rd parties

on:
  push:
    branches:
      - main
  pull_request:

permissions: "read-all"

concurrency:
  group: ci-dead-things-${{ github.ref_name }}
  cancel-in-progress: true

jobs:

  dead-libressl:
    name: Ensure LibreSSL <2.8
    runs-on: ubuntu-latest
    timeout-minutes: 25
    continue-on-error: true

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"

      - name: "Run against Python 3.7 built with LibreSSL 2.7.4"
        run: ./ci/run_legacy_libressl.sh

  dead-openssl:
    name: Ensure OpenSSL <1.1.1
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"

      - name: "Run against Python 3.7 built with OpenSSL 1.0.2q"
        run: ./ci/run_legacy_openssl.sh
