name: Downstream

on:
  push:
    branches:
      - main
  pull_request:

permissions: "read-all"

jobs:
  integration:
    strategy:
      fail-fast: false
      matrix:
        downstream: [botocore, niquests]
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608"

      - name: "Setup Python"
        uses: "actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f"
        with:
          python-version: "3.x"

      - name: "Install dependencies"
        run: python -m pip install --upgrade nox

      - name: "Run downstream tests"
        run: nox -s downstream_${{ matrix.downstream }}
