name: Downstream

on:
  push:
    branches:
      - main
  pull_request:

permissions: "read-all"

jobs:
  integration:
    strategy:
      fail-fast: false
      matrix:
        downstream: [botocore, niquests, requests, boto3, sphinx, docker, clickhouse_connect]
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"

      - name: "Setup Python"
        uses: "actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c"
        with:
          python-version: "3.12"

      - name: "Install dependencies"
        run: python -m pip install --upgrade nox

      - name: "Undo Docker Config: docker-py"
        if: matrix.downstream == 'docker'
        run: |
          docker logout
          rm -rf ~/.docker

      - name: "Run downstream tests"
        run: nox -s downstream_${{ matrix.downstream }}
