name: lint

on:
  pull_request:

permissions: "read-all"

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"

      - name: "Setup Python"
        uses: "actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405"
        with:
          python-version: "3.x"
          cache: pip

      - name: "Run pre-commit"
        uses: pre-commit/action@646c83fcd040023954eafda54b4db0192ce70507

      - name: "Install dependencies"
        run: python -m pip install nox

      - name: "Run mypy"
        run: nox -s mypy
